.settings{
    z-index: 1;
    text-align: right;
    margin-top: 20px;
}    

.color{
background-color: red !important;
background: rebeccapurple;
}

ion-title{
    color: white;
    font-size: 22px;    
    font-family: 'Roboto', sans-serif;
}

ion-checkbox{
    size: 0px;
    color: #F0EFEB;
    border-color: #D9D8CC;
    border-width: 25px;
    --checkmark-color: #FFFFFF;
    --border-color-checked: #E4E4DB ;
    --background-checked: #83B297;
}


h1{
        color: #707070;
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Helvetica';
        
        }  
        