<ion-nav [root]="rootPage"></ion-nav>

<!-- Header Bereich-->

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <div class="settings">
          <img src= "./assets/settings.svg" width="40px">
        </div>
        <ion-title size="large">Behalte Deine Beute im Blick</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- Location Abfrage-->

  <div class="container">
    <h1>Hier kannst Du Beute zu Deiner Einkaufsliste hinzufügen:</h1>
  </div>

  <!--To-Do-Liste-->

  <ion-list>
    <ion-list-header>
      Deine Einkaufsliste
    </ion-list-header>
    <ion-list-body>
    <ion-item  *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox mode="md" slot="end" [(ngModel)]="entry.isChecked">
      </ion-checkbox>
    </ion-item>
  </ion-list-body>



    <ion-item>
      <input animated placeholder="z.B. Erdbeeren" [(ngModel)]="itemAdd" > 
      <a style="color: #707070" (click)="additem()"> Hinzufügen
      </a>
    </ion-item>
  
</ion-list>

</ion-content>