img{
    width: 22px;
    height: auto;
}

.background{
  background-color: #F7F7F5;
  position: relative;
  // height: 70px;
}

div.kreis {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #D08C66;
    //border: 5px solid rgb(209, 19, 19); 
  }


  div.kreisklein {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #E1B199;
    z-index: 1000000;
    margin: 50px;

  }
  .selected{
    width: 40px;
    height: auto;
  }

  ion-tab-bar{
    background: none;
    --border: none;
    height: 90px;
  }

  .background-green{
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    background: #778b84;
    bottom: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  ion-tab-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .active {
    background-color: #af6138 !important;
  }