<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <div class="text"> 
        <h3>Willkommen bei</h3>
        <h1>Foodchaser</h1>
      </div>
    </ion-toolbar>
  </ion-header>
  <div>
  <ion-searchbar animated placeholder="z.B. Cola"></ion-searchbar>  
  <ion-slides>

    <ion-slide>
      <div class="slide">
        
        <h3>Süßigkeiten</h3>
        <h2>Oreo Cookies Original</h2>
        <img src="./assets/oreo.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>2,99€</ion-label>
          <ion-badge color="medium">6,50€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        
        <h3>Süßigkeiten</h3>
        <h2>Oreo Cookies Original</h2>
        <img src="./assets/oreo.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>2,99€</ion-label>
          <ion-badge color="medium">6,50€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        
        <h3>Süßigkeiten</h3>
        <h2>Oreo Cookies Original</h2>
        <img src="./assets/oreo.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>2,99€</ion-label>
          <ion-badge color="medium">6,50€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/percentage dark.svg"/>
      <h3>Mehr Angebote anzeigen?</h3>
      <ion-button (click)="notThere()" fill="clear">Zur Produktübersicht <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</div>
<div class="grid">
  <div class="item">
    <div class="headline">
      <h4>Getränke</h4>
    </div>
    <img src="./assets/getraenke.png"/>
  </div>
  <div class="item">
    <div class="headline">
      <h4>Süßigkeiten</h4>
    </div>
    <img src="./assets/schokolade.png"/>
  </div>
  <div class="item">
    <div class="headline">
      <h4>Obst & Gemüse</h4>
    </div>
    <img src="./assets/obst.png"/>
  </div>
  <div class="item">
    <div class="headline">
      <h4>Backwaren</h4>
    </div>
    <img src="./assets/Backwaren.png"/>
  </div>
</div>
</ion-content>
