

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
        <h3>Willkommen bei</h3>
        <h1>Foodchaser</h1>
      
    </ion-toolbar>
  </ion-header>

<div>
  <div class="flex-container">
    <ion-card class="flex-item left">
      <ion-card-header>
        <img src= "./assets/Kartoffeln.png" width="600px">
        <ion-card-subtitle>Kategorie</ion-card-subtitle>
        <ion-card-title>Angebot</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile.
      </ion-card-content>
    </ion-card>
    <ion-card class="flex-item right">
      <ion-card-header>
        <img src= "./assets/Kartoffeln.png" width="600px">
        <ion-card-subtitle>Kategorie</ion-card-subtitle>
        <ion-card-title>Angebot</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile.
      </ion-card-content>
    </ion-card>
  </div>
</div>

 
</ion-content>
