<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <div class="text"> 
        <h3>Willkommen bei</h3>
        <h1>Foodchaser</h1>
      </div>
    </ion-toolbar>
  </ion-header>
  <div>
  <ion-searchbar animated placeholder="z.B. Cola"></ion-searchbar>  
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        
        <h3>Süßigkeiten</h3>
        <h2>Oreo Cookies Original</h2>
        <img src="./assets/oreo.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>2,99€</ion-label>
          <ion-badge color="medium">3,50€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        
        <h3>Getränke</h3>
        <h2>Coca-Cola 6x0,33l</h2>
        <img src="./assets/ColaPack.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>3,90€</ion-label>
          <ion-badge color="medium">4,20€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        
        <h3>Obst</h3>
        <h2>Bio Heidelbeeren 300g</h2>
        <img src="./assets/Heidelbeeren.png"/>
        <br>
        <ion-chip class="rechtsunten" color="primary">
          <ion-label>2,59€</ion-label>
          <ion-badge color="medium">1,99€</ion-badge>
        </ion-chip>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./assets/percentage dark.svg"/>
      <h3>Mehr Angebote anzeigen?</h3>
      <ion-button (click)="notThere()" fill="clear">Zur Produktübersicht <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</div>
<br>

<div class="grid">
  <div class="item">
    <div class="headline">
      <h4>Getränke</h4>
    </div>
    <div class="vertikal">
      <img class="mittig" src="./assets/getraenke.png"/>
    </div>
    
  </div>
  <div class="item">
    <div class="headline">
      <h4>Süßigkeiten</h4>
    </div>
    <div class="vertikal">
          <img class="mittig" src="./assets/schokolade.png"/>
    </div>
  </div>
  <div class="item">
    <div class="headline">
      <h4>Obst & Gemüse</h4>
    </div>
    <div class="vertikal">
          <img class="mittig" src="./assets/fruits.png"/>
    </div>
  </div>
  <div class="item">
    <div class="headline">
      <h4>Backwaren</h4>
    </div>
    <div class="vertikal">
          <img class="mittig" src="./assets/Backwaren.png"/>
    </div>

  </div>
</div>

<br><br><br><br><br>

</ion-content>
