<ion-content [fullscreen]="true">

<ion-header collapse="condense">
  <ion-toolbar>
    <div class="settings">
      <img src= "./assets/settings.svg" width="40px">
    </div>
    <div class="text"> 
      <h1>Angebote</h1>
    </div>
  </ion-toolbar>
</ion-header>
  <div>

  <div class="flex-container">
    <ion-card *ngFor="let deal of (deals | async)" class="flex-item">
      <ion-card-header>
        <div class="mittig" >
          <img [src]="deal.img" height="auto">
        </div>
        <ion-card-subtitle>{{ deal.category }}</ion-card-subtitle>
        <ion-card-title>{{ deal.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ deal.content }}
      </ion-card-content>
      <ion-chip class="rechtsunten" color="primary">
        <ion-label>{{ deal.price_new }}</ion-label>
        <ion-badge color="medium">{{ deal.price_old }}</ion-badge>
      </ion-chip>
    </ion-card>
  </div>

</div>

  <div class="container">
    <a (click)="getMyPosition()">Meine Position</a>
    <br><br>
  </div>
</ion-content>
