.flex-container{
    display:flex;
    flex-direction: row; /* Standardwert */
    //padding: 1px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.flex-item{
    margin: 15px 0 0 0;
    height: 265px;
    width: 46%;
}

h1{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top:-20px;
    text-align: center;
    color: white;
}

.settings{
    z-index: 1;
    text-align: right;
    margin-top: 20px;
}

img{
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.rechtsunten{
    align-items: flex-end!important;
    position: relative;
    overflow: unset;
    float: right;
}

.mittig{
    text-align: center!important;
    height: 135px;
    position: relative;
}

ion-card-header{
    margin-bottom: 0px;
    padding-bottom: 6px !important;
    padding-top: 10px !important;
}

ion-card{
    background-color:#F0EFEB !important;
    margin-bottom: 0px!important;
    border-color: #D9D8CC;
    border-style: solid;
}

ion-card-subtitle{
    font-size: 10px!important;
}

ion-card-content{
    font-size: 12px!important;
    padding-bottom: 5px !important;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    display: block;
    color: black;
    font-family: 'Helvetica', sans-serif; 
}

ion-chip{
    position: absolute;
    bottom:0;
    right:0;
    padding-top: 10px;
    background-color: #dd885a;
    color: white;
    border: 0.5px solid #d67c4b;
}

ion-label{
    position: relative;

}

ion-badge{
    position: absolute;
    top: -11px;
    right: -3px;
    z-index:500;
    font-size: 10px;
    font-weight: 300;
    text-decoration: line-through;
}

.settings img{
    position: relative;
}