.settings img{
    position: relative;
}

h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top:-20px;
    text-align: center;
    color: white;
}

.settings{
    z-index: 1;
    text-align: right;
    margin-top: 20px;
}