<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings" [routerLink]="['/tabs/einstellungen']">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <div class="text"> 
        <h1>Deine Lieblingsbeute</h1>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-list class="favorites">
      <ion-item *ngFor="let favorite of (favorites | async)" color="none" lines="none">
          <ion-avatar slot="start">
            <img [src]="favorite.img">
          </ion-avatar>
          <ion-label>
            <p>{{ favorite.category }}</p>
            <h3>{{ favorite.title }}</h3>
          </ion-label>
          <ion-icon class="heart" name="heart" (click)="delete(favorite.id)"></ion-icon>
          <ion-icon class="cart" name="cart-outline" (click)="addToCart()"></ion-icon>
      </ion-item>
    </ion-list>
    <br><br>
    <p>Weitere Demo-Seiten (noch nicht eingebunden):</p>
    <br>
    <ion-button class="demo" [routerLink]="['/tabs/einkaufsliste']" expand="block">Zu der Einkaufsliste</ion-button>
    <ion-button class="demo" [routerLink]="['/tabs/supermaerkte']" expand="block">Zu der Supermarkt-Übersicht</ion-button>
    <ion-button class="demo" [routerLink]="['/backend']" expand="block">Zum Backend - Hinzufügen von Angeboten</ion-button>
  </div>
  <br><br><br><br><br>
</ion-content>
