<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <div class="text"> 
        <h1>Deine Lieblingsbeute</h1>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-list class="favorites">
      <ion-item *ngFor="let favorite of (favorites | async)" color="none" lines="none">
          <ion-avatar slot="start">
            <img [src]="favorite.img">
          </ion-avatar>
          <ion-label>
            <p>{{ favorite.category }}</p>
            <h3>{{ favorite.title }}</h3>
          </ion-label>
          <ion-icon class="heart" name="heart" (click)="delete(favorite.id)"></ion-icon>
          <ion-icon class="cart" name="cart-outline" (click)="addToCart()"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  
</ion-content>
