
<ion-nav [root]="rootPage"></ion-nav>



<!-- Header Bereich-->

<ion-header collapse="condense">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <ion-title size="large">Ändere Deine Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Location Abfrage-->

  <div class="container">
    <h1> Konfiguriere hier wichtige Einstellungen</h1>
  </div>


<!--PopUp-->




  <!--Cards-->

  <ion-card (click)="presentAlert()">

    <ion-card-header>
      <div class="flex-container">  
        <img class="icon" src= "./assets/hilfe.png" height="30">
     <div class="namecomponent"> Hilfe </div>
    </div>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="presentAlert()">
    <ion-card-header>
      <div class="flex-container">
      <img class="icon" src= "./assets/privat.png" height="30">
     <div class="namecomponent"> Privatsphäre </div>
    </div>
    </ion-card-header>
  </ion-card>
  
  <ion-card (click)="presentAlert()">
    <ion-card-header>
      <div class="flex-container">
      <img class="icon" src= "./assets/sicherheit.png" height="30">
     <div class="namecomponent"> Sicherheit </div>
    </div>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="presentAlert()">
    <ion-card-header>
      <div class="flex-container">
      <img class="icon" src= "./assets/profil.png" height="30">
     <div class="namecomponent"> Konto </div>
    </div>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="presentAlert()">
    <ion-card-header>
      <div class="flex-container">
      <img class="icon" src= "./assets/informationen.png" height="30">
     <div class="namecomponent"> Informationen </div>
    </div>
    </ion-card-header>
  </ion-card>

</ion-content>