h3{
    font-size: 25;
    font-family: 'Futura T OT', sans-serif;
    color: black;
    margin-bottom:10px;
    font-weight:300;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

ion-title{
        color: white;
        font-size: 25px;    
        font-family: 'Roboto', sans-serif;
    }

h1{
    color: black;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
    float: left;
    font-family: 'Helvetica';
    
    }  
    
.settings{
        z-index: 1;
        text-align: right;
        margin-top: 20px;
    }    

ion-label{
    color: black;
    font-size: 15px;    
    font-family: 'Helvetica', sans-serif;
}

h4{
    color: black;
    font-size: 15px;
    font-family: 'Helvetica';
}

.icon{
    justify-content: right;

}   
.flex-container{
    display: flex;
}

.namecomponent{
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 20px;
    float: left;
    font-family: 'Helvetica';
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
    background-color: blanchedalmond;
    width: 500px;
    max-width: 80%;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
.popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .title{
    font-size: 1.25rem;
    font-weight: bold;

}

.popup-header .close-popup{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blanchedalmond;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}