h3{
    font-size: 25;
    font-family: 'Futura T OT', sans-serif;
    color: black;
    margin-bottom:10px;
    font-weight:300;
    margin-left: 10px;
}

ion-label{
    color: black;
    font-size: 15px;    
    font-family: 'Helvetica', sans-serif;
}

h4{
    color: black;
    font-size: 15px;
    font-family: 'Helvetica';
}

ion-fab-button{
    background: white ;
    border-radius: 50%;    
    color: #FFF;
} 
