h3{
    font-size: 25;
    font-family: 'Futura T OT', sans-serif;
    color: black;
    margin-bottom:10px;
    font-weight:300;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

ion-title{
        color: white;
        font-size: 25px;    
        font-family: 'Roboto', sans-serif;
    }

h1{
    color: black;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
    float: left;
    font-family: 'Helvetica';
    
    }  
    
.settings{
        z-index: 1;
        text-align: right;
        margin-top: 20px;
    }    

ion-label{
    color: black;
    font-size: 15px;    
    font-family: 'Helvetica', sans-serif;
}

h4{
    color: black;
    font-size: 15px;
    font-family: 'Helvetica';
}

.icon{
    justify-content: right;

}   
.flex-container{
    display: flex;
}

.namecomponent{
    color: black;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 20px;
    float: left;
    font-family: 'Helvetica';
}