<!-- Header Bereich-->

<ion-header collapse="condense">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="settings">
        <img src= "./assets/settings.svg" width="40px">
      </div>
      <ion-title size="large">Hol Dir Deine Beute!</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Location Anzeige-->
  <div class="container">
    <img src= "./assets/pin.png" width="40px">
    <h1>Du befindest Dich in Heilbronn</h1>
  </div>

  <!-- Inhalt der Karten, Aldi Süd-->
  <ion-card>
    <ion-card-header>
      <div class="flex-item">Nur 5,3km von dir entfernt:</div>
      <div class="flex-container">
        <div class="flex-image">
          <img class="right" src= "./assets/aldi.png" height=""> 
        </div>
        <div class="flex-description">
          Aldi Süd
          <br> <b>Adresse:</b> Gaswerkstr.41, 74076 Heilbronn
          <br> <b>Öffnungszeiten:</b> Montag-Samstag, 07:30-20:00 Uhr
          <br> <b>Telefon:</b> 0800 8002534
        </div>
      </div>
      <br> <img class="icon" src= "./assets/check.png" height="30"> Einkaufen im Geschäft

      <div class="button" >
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-header>
  </ion-card>

<!-- Rewe-->

  <ion-card>
    <ion-card-header>
      <div class="flex-item">Nur 7,4km von dir entfernt:</div>
      <div class="flex-container">
        <div class="flex-image">
          <img class="right" src= "./assets/Rewe.png" height=""> 
        </div>
        <div class="flex-description">
          Rewe
          <br> <b>Adresse:</b> Etzelstr.38, 74076 Heilbronn
          <br> <b>Öffnungszeiten:</b> Montag-Samstag, 07:00-22:00 Uhr
          <br> <b>Telefon:</b> 07131 177241
        </div>
      </div>
      <br> <img class="icon" src= "./assets/check.png" height="30"> Einkaufen im Geschäft
      <div class="button">
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-header>
  </ion-card>

  <!-- Edeka-->
  <ion-card>
    <ion-card-header>
      <div class="flex-item">Nur 8,3km von dir entfernt:</div>
      <div class="flex-container">
        <div class="flex-image">
          <img class="right" src= "./assets/edekalogoneu.png" > 
        </div>
        <div class="flex-description">
          Edeka
          <br> <b>Adresse:</b> Charlottenstr.9, 74076 Heilbronn
          <br> <b>Öffnungszeiten:</b> Montag-Samstag, 07:00-19:45 Uhr
          <br> <b>Telefon:</b> 07131 2057290
        </div>
      </div>
      <br> <img class="icon" src= "./assets/check.png" height="30"> Einkaufen im Geschäft
      <div class="button">
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-header>
  </ion-card>

  <!-- Penny -->

  <ion-card>
    <ion-card-header>
      <div class="flex-item">Nur 9,8km von dir entfernt:</div>
      <div class="flex-container">
        <div class="flex-image">
          <img class="right" src= "./assets/pennylogo.png" height="160px"> 
        </div>
        <div class="flex-description">
          Penny
          <br> <b>Adresse:</b> Werderstr.109, 74076 Heilbronn
          <br> <b>Öffnungszeiten:</b> Montag-Samstag, 07:30-20:00 Uhr
          <br> <b>Telefon:</b> 0221 20199959
        </div>
      </div>
      <br> <img class="icon" src= "./assets/check.png" height="30"> Einkaufen im Geschäft
      <div class="button">
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-header>
  </ion-card>

  <!-- Lidl-->
  <ion-card>
    <ion-card-header>
      <div class="flex-item">Nur 10,4km von dir entfernt:</div>
      <div class="flex-container">
        <div class="flex-image">
          <img class="right" src= "./assets/lidllogoneu.png" > 
        </div>
        <div class="flex-description">
          Lidl
          <br> <b>Adresse:</b> Neckarsulmer Str. 24, 74076 Heilbronn
          <br> <b>Öffnungszeiten:</b> Montag-Samstag, 07:00-20:00 Uhr
          <br> <b>Telefon:</b> 0800 4353361
        </div>
      </div>
      <br> <img class="icon" src= "./assets/check.png" height="30"> Einkaufen im Geschäft
      <div class="button">
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-header>
  </ion-card>


</ion-content>