.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-color: #D9D8CC;
    border-style: solid;
   justify-content: center;
}

ion-title{
    color: white;
    font-size: 25px;    
    font-family: 'Futura T OT', sans-serif;
    font-weight: medium;
}

.flex-description{
    color: black;
    font-size: 14px;    
    font-family: 'Roboto', sans-serif; 
    margin-top: 15px;  
    margin-left: 10px;
    width: 200px;

}

.flex-container{
    display: flex;
}

.flex-item{
    margin-left: 10px;
    margin-top: 5px;  
    position: center;
    font-family: 'Helevetica';
    font-size: 18px;
}

.flex-image{
    margin-top: 15px;  
    margin-left: 10px;
    width: 200px;
    background-size: contain;
    
}

ion-card{
    --ion-card-background: #F0EFEB;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #D9D8CC;
    border-style: solid;
}

h1{
    color: black;
   font-size: 20px;
   float: left;

}
.settings{
    z-index: 1;
    text-align: right;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    }

 .icon{
     margin-left: 10px;
    vertical-align: middle;
 }   