<ion-header>
  <ion-toolbar>
    <ion-title>Hol' Dir Deine Beute!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hol Dir Deine Beute!</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nur 5,3km von dir entfernt:</ion-card-subtitle>
      <div class="right" >
        <img class="right" src= "./assets/aldi.png" height="135px">
      </div>
    </ion-card-header>
  
    <ion-card-content>
       Aldi Süd
       <br> Musterstr.1, Heilbronn
        Öffnungszeiten: 07:30-19:30Uhr (Mo-Sa)
        <div class="right" >
        <button type="button" class="btn btn-primary">Zu den Angeboten</button>
      </div>
    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nur 7,4km von dir entfernt:</ion-card-subtitle>
      <div class="right" >
        <img class="right" src= "./assets/Rewe.png" height="135px">
      </div>
    </ion-card-header>
  
    <ion-card-content>

      Rewe Markt 
      <br> Hauptstr.1, Heilbronn
      Öffnungszeiten: 07:30-19:30Uhr (Mo-Sa)
      <div class="right" >
        <button type="button">Zu den Angeboten</button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nur 9,8km von dir entfernt:</ion-card-subtitle>
      <div class="right" >
        <img class="right" src= "./assets/2logoedeka.png" height="135px">
      </div>
    </ion-card-header>
  
    <ion-card-content>
      Edeka Südwest <br> Hauptallee 1, Heilbronn
      Öffnungszeiten: 07:30-19:30Uhr (Mo-Sa)
      <div class="right" >
        <button type="button">Zu den Angeboten</button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nur 11,2km von dir entfernt:</ion-card-subtitle>
      <div class="right" >
        <img class="right" src= "./assets/LidlLogo.png" height="135px" >
      </div>
    </ion-card-header>
  
    <ion-card-content>
      Lidl <br> Mustermannstr.1, Heilbronn.
      Öffnungszeiten: 07:30-19:30Uhr (Mo-Sa)
      <div class="right" >
        <button type="button">Zu den Angeboten</button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nur 14,4km von dir entfernt:</ion-card-subtitle>
      <div class="right" >
        <img class="right" src= "./assets/logonetto.png" height="135px">
      </div>
    </ion-card-header>
  
    <ion-card-content>
      Netto Markendiscount <br> Talstr.1, Heilbronn.
      Öffnungszeiten: 07:30-19:30Uhr (Mo-Sa)
      <div class="right" >
        <button type="button">Zu den Angeboten</button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>