<ion-nav [root]="rootPage"></ion-nav>

<!-- Header Bereich-->

<ion-header collapse="condense">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <div class="settings">
          <img src= "./assets/settings.svg" width="40px">
        </div>
        <ion-title size="large">Schnapp' Dir diese Beute: <br> {{deal.title}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Zurück zur Übersicht-->
    <div class="back">
    <a href="/tabs/tab1" style="color:#707070;">Zurück zur Übersicht</a>
    </div>

    <!--H2 mit Infos zum Produkt-->

    <div class="container">
      <h1>Schaue Dir genauere Informationen zu dieser Beute an</h1>
    </div>

   <!-- Bild zum Angebot, ion-card--> 
  
  <ion-card>
    <ion-card-header>
      <div class="flex-container">
        <div class="flex-image">
          <img [src]="deal.img" height="auto">
        </div> 
      </div>
    </ion-card-header>
  </ion-card>

  <!-- Kategorie des Produkts -->

  <div class="kategorie">
    <p>{{deal.category}}</p>
  </div>

<!--  Einkaufsmöglichkeit 

  <div class="laden">
  <p>{{deal.store}}</p>
  </div>
  -->

  <!-- Titel des Produkts-->

  <div class="titleangebot">
  <p>{{deal.title}}</p>
</div>

<!-- Inhalt/Produktbeschreibung-->
<div class="Produktbeschreibung">
  <p>Inhalt: {{deal.content}}</p>
</div>

<ion-chip class="rechtsunten" color="primary">
  <ion-label>{{ deal.price_new }}</ion-label>
  <ion-badge color="medium">{{ deal.price_old }}</ion-badge>
</ion-chip>

<ion-icon class="heart" name="heart" (click)="addToFavorite(deal)"></ion-icon>

  <br>
  <br>
  
</ion-content>
<br>
<br>
<br>
<br>
<br>