/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container{
    margin: 20px;
}
ion-content {
    --background: #F7F7F5 !important;
    border-style: none !important;
}

ion-toolbar {
    --background:#778C85  !important; 
    border-style: none !important;
    --border-color: #778C85;
  
}
.toolbar-background{
    border: 0px !important;
    border-bottom: none !important;
}

ion-tab-bar {
    --background: #F7F7F5 !important; 
    border-style: none !important;
    overflow: none !important;
    height:70px;

  
}

ion-card{
    --ion-card-background: #F0EFEB;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #D9D8CC;
    border-style: solid;
}

ion-header{
    background:#778C85 !important;
}

ion-card-content{
    font-size: 12px!important;
    padding-bottom: 5px !important;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    display: block;
    color: black;
    font-family: 'Helvetica', sans-serif; 
}



ion-card-title{
    height: 22px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px!important;
    color: #333333;
}

ion-title{
    color: white;
    font-size: 25px;    
    font-family: 'Futura T OT', sans-serif;
}

h3{
    font-size: 25;
    font-family: 'Futura T OT', sans-serif;
    color: white;
    margin-bottom:0px;
    font-weight:300;
    margin-left: 30px;
}

h1{
    font-size: 30px;
    font-family: 'Futura T OT', sans-serif;
    color: white;
    margin-top:5px;
    text-align: center;
}

ion-list{
    background-color: #F0EFEB;
}
